{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/image/favicon.ico">
    <title>{% block head_title_base %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <link href="{% static "css/site_new.css" %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" data-value="home" href="/home">首页</a>
          <a class="blog-nav-item" data-value="qa" href="/qa">问答</a>
          <a class="blog-nav-item" data-value="complain" href="/complain">吐槽</a>
          <a class="blog-nav-item" data-value="experience" href="/experience">面经</a>
          <a class="blog-nav-item" data-value="aboutus" href="/aboutuss">关于我们</a>
        </nav>
      </div>
    </div>

    <div class="container content-container">
      {% block content %}{% endblock %}
    </div><!-- /.container -->

    <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "js/lib/require.js" %}"></script>
    <script>
        requirejs.config({
          baseUrl: "{% static "js/lib" %}",
          paths: {
              app: "../app/",
              jquery:"jquery",
              underscore:"underscore"
          },
          shim: {
              backbone: {
                  deps: ['jquery', 'underscore'],
                  exports: 'Backbone'
              },
              underscore: {
                  exports: '_'
              },
              bootstrap: {
                  deps: ['jquery']
              }
          }
        });
        {% block extra_script %}{% endblock %}
    </script>
  </body>
</html>
